{%- comment -%}
  snippets/product-card.liquid
  Usage:
    {%- render 'cproduct-card', product: product, show_price: true, show_add_to_cart: true -%}
{%- endcomment -%}
<div
  class="product-card tw:flex tw:flex-col"
  data-product-id="{{ product.id }}"
  data-price="{{ product.price }}"
  data-title="{{ product.title | escape }}"
>
  <a href="{{ product.url  }}" aria-label="details {{ product.title | escape }}">
    {%- if product.featured_image != blank -%}
      {{
        product.featured_image
        | image_url: width: 312
        | image_tag:
          alt: product.title,
          loading: 'lazy',
          class: 'tw:w-full tw:object-cover tw:aspect-square tw:rounded-lg tw:mb-4'
      }}
    {%- else -%}
      {{ 'product-2' | placeholder_svg_tag: 'Placeholder image',
          class: 'tw:w-full tw:object-cover tw:aspect-square tw:rounded-lg tw:mb-4' }}
    {%- endif -%}
    <p class="tw:text-base tw:text-black tw:mt-0 tw:mb-2">
      {{- product.title | default: 'Product title' | escape -}}
    </p>
  </a>
  {%- if show_price -%}
    <p class="product-price tw:text-gray tw:text-base tw:mb-2">
      {{ product.price | money }}
    </p>
  {%- endif -%}
</div>
