{%- comment -%}
  snippets/product-gallery.liquid
  Usage:
    {%- render 'product-gallery', product: product,  min-rating: 3.5 -%}
{%- endcomment -%}

{%- assign sizes = '(min-width: 768px) 584px, calc(100vw - 32px)' -%}
{% assign rating_clean = product.metafields.custom.rating.value | replace: ',', '.' | strip %}
{% assign product_rating = rating_clean | plus: 0 | default: 3.0 %}

<product-gallery
  class="product-gallery-section tw:w-full tw:flex tw:flex-col-reverse tw:gap-4 tw:lg:flex-row tw:lg:gap-6 tw:lg:max-w-162"
  role="group"
  aria-label="Product image gallery"
>
  {%- if product.images.size == 1 -%}
    <div class="tw:relative tw:m-auto tw:w-fit">
      {% if product.featured_image != blank %}
        {{
          product.featured_image
          | image_url: width: 343
          | image_tag:
            alt: product.title,
            widths: '320, 343, 420, 480, 584',
            sizes: sizes,
            class: 'main-image tw:w-full tw:object-cover tw:aspect-square tw:max-w-146 tw:rounded-lg'
        }}
      {% else %}
        {{
          'no-image.svg'
          | asset_url
          | image_tag:
            alt: product.title,
            class: 'main-image tw:w-full tw:object-cover tw:aspect-square tw:m-auto tw:max-w-146 tw:rounded-lg'
        }}
      {% endif %}
      {% if product_rating != blank and product_rating > min_rating %}
        {%- render rating-bage -%}
      {% endif %}
    </div>
  {%- else -%}
    {% comment %} Thumbs {% endcomment %}
    <div class="swiper thumbs-swiper tw:w-full tw:max-w-146 tw:lg:w-22 tw:lg:min-w-22 tw:lg:h-146">
      <div class="swiper-wrapper">
        {%- unless product.images == blank -%}
          {%- for image in product.images -%}
            <div class="swiper-slide">
              <button
                type="button"
                role="radio"
                class="tw:w-22 tw:h-22 tw:cursor-pointer tw:rounded-lg tw:overflow-hidden tw:relative tw:after:content-[''] tw:after:absolute tw:after:inset-0 tw:after:bg-dark/20 tw:after:opacity-0 tw:[&[aria-pressed='true']]:after:opacity-100"
                aria-label="Show image {{ forloop.index }}"
                aria-pressed="{{ forloop.first }}"
              >
                {% assign alt_text = product.title | append: forloop.index %}
                {{
                  image
                  | image_url: width: 88
                  | image_tag: alt: alt_text, loading: 'lazy', class: 'tw:object-cover tw:aspect-square tw:w-full'
                }}
              </button>
            </div>
          {%- endfor -%}
        {%- endunless -%}
      </div>
    </div>
    {% comment %} Main Swiper {% endcomment %}
    <div class="swiper main-swiper tw:relative tw:m-auto tw:w-full tw:max-w-146 tw:md:min-w-146">
      {% if product_rating != blank and product_rating > min_rating %}
        {%- render 'rating-bage' -%}
      {% endif %}
      <div class="swiper-wrapper">
        {%- unless product.images == blank -%}
          {%- for image in product.images -%}
            <div class="swiper-slide">
              {% assign alt_text = product.title | append: forloop.index %}
              {%- if forloop.first -%}
                {{
                  image
                  | image_url: width: 343
                  | image_tag:
                    alt: alt_text,
                    widths: '320, 343, 420, 480, 584',
                    sizes: sizes,
                    class: 'main-image tw:w-full tw:object-cover tw:aspect-square tw:m-auto tw:max-w-146 tw:rounded-lg',
                    loading: 'eager',
                    fetchpriority: 'high'
                }}
              {%- else -%}
                {{
                  image
                  | image_url: width: 343
                  | image_tag:
                    alt: alt_text,
                    widths: '320, 343, 420, 480, 584',
                    sizes: sizes,
                    class: 'main-image tw:w-full tw:object-cover tw:aspect-square tw:m-auto tw:max-w-146 tw:rounded-lg',
                    loading: 'lazy'
                }}
              {%- endif -%}
            </div>
          {%- endfor -%}
        {%- endunless -%}
      </div>
    </div>
  {%- endif -%}
  <script src="{{ 'product-gallery-swiper-first-init.js' | asset_url }}" defer></script>
</product-gallery>
