{%- comment -%}
  snippets/review-card.liquid
  Usage:
    {%- render 'review-card', review: review -%}
{%- endcomment -%}

<div class="tw:w-full tw:lg:w-106 tw:p-6 tw:border tw:border-stroke">
  {% render 'star-rating', rating_object: review.rating, show_rating_num: false %}
  {%- if review.message != blank -%}
    <p class="tw:text-base tw:tex-dark tw:mt-6 tw:mb-6">
      {{- review.message | escape -}}
    </p>
  {%- endif -%}
  <div class="tw:flex tw:gap-3">
    {%- if review.photo != blank -%}
      {% assign alt_text = review.name | append: 'avatar' | t %}
      {{
        review.photo
        | image_url: width: 56
        | image_tag: alt: alt_text, loading: 'lazy', class: 'tw:object-cover tw:aspect-square tw:min-w-14 tw:rounded-full tw:w-14 tw:h-14'
      }}
    {% else %}
      <div class="tw:object-cover tw:aspect-square tw:min-w-14 tw:rounded-full tw:text-dark tw:w-14 tw:h-14">
        {{ 'icon-account.svg' | inline_asset_content }}
      </div>
    {%- endif -%}
    <div class="tw:flex tw:flex-col tw:justify-center">
      {%- if review.name != blank -%}
      <p class="tw:text-base tw:text-dark">
        {{- review.name -}}
      </p>
    {%- endif -%}
    {%- if review.city != blank -%}
      <p class="tw:text-base tw:text-gray">
        {{- review.city -}}
      </p>
      {%- endif -%}
    </div>
  </div>
</div>
