{{ 'footer-menu.css' | asset_url | stylesheet_tag }}
<script src="{{ 'footer.js' | asset_url }}" defer></script>

<footer class="site-footer" role="contentinfo">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-column">
        <button
          type="button"
          class="footer-button"
          aria-expanded="true"
          aria-controls="footer-col-resources"
        >
          <span class="footer-title">{{ 'footer.resources' | t | default: 'Resources'}}</span>
          <img
            src="{{ 'icon-arrow.svg' | asset_url }}"
            alt=""
            aria-hidden="true"
            class="icon"
            width="15"
            height="15"
            aria-hidden="true"
            loading="lazy"
          >
        </button>
        <ul id="footer-col-resources" class="footer-col-list">
          {%- for _ in (1..5) -%}
            <li class="footer-item">
              <a href="#" class="footer-link">{{ 'footer.lorem' | t | default: 'Lorem ipsum' }}</a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
      <div class="footer-column">
        <button
          type="button"
          class="footer-button"
          aria-expanded="true"
          aria-controls="footer-col-help"
        >
          <span class="footer-title">{{ 'footer.help' | t | default: 'Help'}}</span>
          <img
            src="{{ 'icon-arrow.svg' | asset_url }}"
            alt=""
            aria-hidden="true"
            class="icon"
            width="15"
            height="15"
            aria-hidden="true"
            loading="lazy"
          >
        </button>
        <ul id="footer-col-help" class="footer-col-list">
          {%- for _ in (1..5) -%}
            <li class="footer-item">
              <a href="#" class="footer-link">{{ 'footer.lorem' | t | default: 'Lorem ipsum' }}</a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
      <div class="footer-column">
        <button
          type="button"
          class="footer-button"
          aria-expanded="true"
          aria-controls="footer-col-about-company"
        >
           <span class="footer-title">{{ 'footer.company' | t | default: 'Company'}}</span>
          <img
            src="{{ 'icon-arrow.svg' | asset_url }}"
            alt=""
            aria-hidden="true"
            class="icon"
            width="15"
            height="15"
            aria-hidden="true"
            loading="lazy"
          >
        </button>
        <ul id="footer-col-about-company" class="footer-col-list">
          {%- for _ in (1..5) -%}
            <li class="footer-item">
              <a href="#" class="footer-link">{{ 'footer.lorem' | t | default: 'Lorem ipsum' }}</a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
      <div class="footer-column">
        <button
          type="button"
          class="footer-button"
          aria-expanded="true"
          aria-controls="footer-col-menu"
        >
           <span class="footer-title">{{ 'footer.menu' | t | default: 'Menu'}}</span>
          
          <img
            src="{{ 'icon-arrow.svg' | asset_url }}"
            alt=""
            aria-hidden="true"
            class="icon"
            width="15"
            height="15"
            aria-hidden="true"
            loading="lazy"
          >
        </button>
        <ul id="footer-col-menu" class="footer-col-list">
          {%- for _ in (1..5) -%}
            <li class="footer-item">
              <a href="#" class="footer-link">{{ 'footer.lorem' | t | default: 'Lorem ipsum' }}</a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
    <div class="nav-title">{{ 'footer.useful_links' | t | default: 'Useful links' }}</div>
    <nav class="footer-nav" aria-label="{{ 'a11y.footer_nav' | t }}">
      <a href="{{ routes.account_login_url }}">{{ 'footer.login' | t }}</a>
      <a href="{{ routes.search_url }}">{{ 'footer.search' | t }}</a>
      <a href="{{ routes.all_products_collection_url }}">{{ 'footer.shop_all' | t }}</a>
      <a href="{{ routes.policy_terms_of_service_url }}">{{ 'footer.terms' | t }}</a>
      <a href="{{ routes.policy_privacy_policy_url }}">{{ 'footer.privacy' | t }}</a>
    </nav>
    <small
      >&copy; {{ 'footer.copyright' | t }}
      {{ shop.name | escape -}}
    </small>
  </div>
</footer>
